
@media(max-width:'775px'){
  #back{display: none;}
}
@media(min-width:767){
  #center{

    
    text-align: center;
    height: -100%;

  }
  .back{

    text-align: center;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  *, ::after, ::before {
    box-sizing: content-box;
  }
  #abs-row{
    position:static!important;
  }
  #invisible{
    display: none!important;
  }
  
  
}

.btn{
  width: 200px; 
  height: 50px ;
  line-height:35px;
  background-color: #FE7B2F;

}
.card{
  border: 0px!important;
  border-radius: 0px!important; 
}


h2,h3{
  color: #7CCA99 !important;
}

.icon-course{
  max-width: 120px;
}

#slide{
  background-color:#F3F3F3;
}

.carousel-indicators li {
  display: inline-block!important;
  width: 10px!important;
  height: 10px!important;
  margin: 20px!important;
  text-indent: 0!important;
  cursor: pointer!important;
  border: none!important;
  border-radius: 50%!important;
  background-color: #5E8FB3!important;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5)!important;    
}
.carousel-indicators .active {
  width: 10px!important;
  height: 10px!important;
  margin: 20px!important;
  border: none!important;
  border-radius: 50% !important;
  background-color: #C2D2DE!important;
}

#center{
  z-index: 9999;
  box-shadow: 0px 7px 23px 5px rgba(0,0,0,0.75);
  text-align: center;
  height: -100%;

}
.back{
  box-shadow: 0px 7px 23px 5px rgba(0,0,0,0.75);
  text-align: center;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  z-index: -9999;
}
*, ::after, ::before {
  box-sizing: content-box;
}
#abs-row{
  position:absolute;
  left: 0;right: 0;margin: auto auto
}
p.card-title{
  font-size: 70px;
  color: #476C88;
}
h5.card-text{
  color: #476C88;
}

.form-control{
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px!important;
}

#grad {
  background: linear-gradient(to right, #55B3B5 ,#4D6CD7);
}

.btn-send{
  background-color: #2C4083;
  color: white;
  border-radius: 20px!important;
  max-width: 200px;
  max-height: 50px;
  line-height: 40px;
}
.btn-send img{
  max-width: 30px;
}